<div class="app-container">
  <h1 class="title">{{ title }}</h1>
  <h3>
    I bet you were disappointed when you saw there wasn't any money inside! Try
    not to spend it all in one place! Hahaha!
  </h3>
  <section *ngIf="isKeypadLocked" [ngClass]="!isKeypadBeingUnlocked ? 'keypad' : 'keypad unlocking'">
    <div
      class="combo-div"
      *ngIf="currentComboAttempt.length > 0; else fillerDiv"
    >
      <img
        *ngFor="let currentNum of currentComboAttempt"
        class="current-combo-attempt"
        [src]="whichMusicNote(currentNum)"
        alt="keypad music note symbols"
      />
    </div>
    <ng-template #fillerDiv>
      <div class="filler-div">
        <h2 class="open-text" *ngIf="isKeypadBeingUnlocked">OPEN</h2>
      </div>
    </ng-template>
    <section class="symbols-container">
      <div (click)="addSymbolToCombo(1)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/bass-clef.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(2)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/beam.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(3)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/eighth-note.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(4)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/half-note.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(5)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/quarter-note-rest.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(6)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/quaver.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(7)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/sixteenth-note.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(8)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/tie.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(9)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/triplet.png"
          alt="music-div"
        />
      </div>
      <div
        class="music-div"
        id="clear-button-div"
      >
        <button (click)="clearCombo()">Clear</button>
      </div>
      <div (click)="addSymbolToCombo(0)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/treble-clef.png"
          alt="music-div"
        />
      </div>
      <div
        class="music-div"
        id="submit-button-div"
      >
        <button (click)="submitCombo()">Submit</button>
      </div>
    </section>
  </section>

  <section *ngIf="!isKeypadLocked" class="decoder-container">
    I should only show if code is correct! Here are all the symbols decoded!
  </section>
</div>
