.app-container {
  font-family: 'Architects Daughter', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
header {
  width: clamp(280px, 90%, 40vw);
}

.title {
  line-height: 1;
  margin-bottom: 0px;
}

.current-combo-attempt {
  color: black;
  width: 18%;
  margin: clamp(5px, 10px, 15px);
}

.music-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: gray;
  border: red 4px solid;
  border-radius: 100pt;
  box-shadow: 0 0 16px red;
  font-size: 2vw;
  background-image: url("../assets/other-images/silver-brushed-metal-button.jpg");
  background-size: contain;
}

.music-div:hover {
  cursor: pointer;
  border: rgb(230, 230, 230) 4px solid;
  box-shadow: 0 0 16px rgb(230, 230, 230);
}

.music-note-img {
  width: 45%;
  height: auto;
}

.symbols-container {
  display: inline-grid;
  grid-template-columns: clamp(80px, 8vw, 130px) clamp(80px, 8vw, 130px) clamp(80px, 8vw, 130px);
  grid-template-rows: clamp(80px, 8vw, 130px) clamp(80px, 8vw, 130px) clamp(80px, 8vw, 130px) clamp(80px, 8vw, 130px);
  column-gap: 15px;
  row-gap: 15px;
  margin: 10px;
  width: fit-content;
}

.keypad {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unlocking > .symbols-container > .music-div {
  border: green 4px solid;
  box-shadow: 0 0 16px green;

}

.unlocking > .combo-div, .unlocking > .filler-div {
  background-color: green;
  box-shadow: 0 0 16px green;
}

.combo-div,
.filler-div {
  width: clamp(278px, calc(30vw + 34px), 428px);
  height: clamp(84px, 10vw, 134px);
  background-color: red;
  transform: translate(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8pt;
  box-shadow: 0 0 16px red;
}

button {
  visibility: visible;
  padding: 10px 15px;
  background-color: rgb(39, 39, 39);
  color: white;
  width: 100%;
  height: 80%;
  border-radius: 100pt;
  font-size: clamp(12pt, 1.5vw, 2vw);
  font-family: 'Architects Daughter', cursive;
  text-align: center;
}

button:hover {
  cursor: pointer;
  background-color: rgb(27, 27, 27);
}

button:focus {
  outline: none;
}

#clear-button-div, #submit-button-div {
  visibility: hidden;
}

#submit-button-div {

}

.open-text {
  color: black;
  font-size: clamp(30pt, 8vw, 48pt);
  letter-spacing: 3px;
}

.decoder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: green;
  font-size: clamp(6vw, 6vw, 4vw);
}

.paper-container {
  width: clamp(100%, 90%, 80%);
  height: auto;

}

.old-paper-img {
  width: 100%;
  height: auto;
}