.app-container {
  font-family: 'Architects Daughter', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  line-height: 1;
  margin-bottom: 0px;
}

.current-combo-attempt {
  color: black;
  width: 18%;
  margin: clamp(5px, 10px, 15px);
}

.music-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: gray;
  border: red 2px solid;
  font-size: 2vw;
}

.music-div:hover {
    cursor: pointer;
}

.music-note-img {
  width: 60%;
  height: auto;
}

.symbols-container {
  display: grid;
  grid-template-columns: clamp(80px, 10vw, 130px) clamp(80px, 10vw, 130px) clamp(80px, 10vw, 130px);
  grid-template-rows: clamp(80px, 10vw, 130px) clamp(80px, 10vw, 130px) clamp(80px, 10vw, 130px) clamp(80px, 10vw, 130px);
  column-gap: 15px;
  row-gap: 15px;
  margin: 10px;
  width: fit-content;
}

.keypad {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.combo-div,
.filler-div {
  width: clamp(274px, calc(30vw + 34px), 424px);
  height: clamp(84px, 10vw, 134px);
  background: red;
  transform: translate(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 15px;
}

#zero-button {
  grid-column-start: 2;
}
