<div class="app-container">
  <header>
    <h1 class="title">{{ title }}</h1>
    <h3 *ngIf="isKeypadLocked">
      You must be able to prove your musicality in order to be worthy of the
      inheritance I have in store for you.
    </h3>
  </header>
  <section
    *ngIf="isKeypadLocked; else decoderContainer"
    [ngClass]="!isKeypadBeingUnlocked ? 'keypad' : 'keypad unlocking'"
  >
    <div
      class="combo-div"
      *ngIf="currentComboAttempt.length > 0; else fillerDiv"
    >
      <img
        *ngFor="let currentNum of currentComboAttempt"
        class="current-combo-attempt"
        [src]="whichMusicNote(currentNum)"
        alt="keypad music note symbols"
      />
    </div>
    <ng-template #fillerDiv>
      <div class="filler-div">
        <h2 class="open-text" *ngIf="isKeypadBeingUnlocked">OPEN</h2>
      </div>
    </ng-template>
    <section class="symbols-container">
      <div (click)="addSymbolToCombo(1)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/beam.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(2)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/triplet.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(3)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/eighth-note.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(4)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/half-note.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(5)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/quarter-note-rest.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(6)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/quaver.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(7)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/sixteenth-note.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(8)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/tie.png"
          alt="music-div"
        />
      </div>
      <div (click)="addSymbolToCombo(9)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/quarter-note.png"
          alt="music-div"
        />
      </div>
      <div class="music-div" id="clear-button-div">
        <button (click)="clearCombo()">Clear</button>
      </div>
      <div (click)="addSymbolToCombo(0)" class="music-div">
        <img
          class="music-note-img"
          src="../assets/music-note-pngs/treble-clef.png"
          alt="music-div"
        />
      </div>
      <div class="music-div" id="submit-button-div">
        <button (click)="submitCombo()">Submit</button>
      </div>
    </section>
  </section>

  <ng-template #decoderContainer>
    <section class="decoder-container">
      I knew you were a natural!
      <div class="paper-container">
        <div class="alienese-div">
          <div
            *ngFor="let alieneseImagePath of alieneseImagePaths"
            class="letter-div"
          >
            <img
              [src]="alieneseImagePath"
              alt="alien letter"
              class="alienese-letter"
            />
            <p>= {{ whichLetter(alieneseImagePath).toUpperCase() }}</p>
          </div>
        </div>
        <img
          class="old-paper-img"
          src="../assets/other-images/old-paper.png"
          alt="old paper"
        />
      </div>
    </section>
  </ng-template>
</div>
