<div class="app-container">
  <h1>{{ title }}</h1>
  <h3>
    I bet you were disappointed when you saw there wasn't any money inside! Try
    not to spend it all in one place! Hahaha!
  </h3>
  <section *ngIf="isKeypadLocked" class="keypad">
    <div class="combo-div" *ngIf="currentComboAttempt.length > 0; else fillerDiv">
      <h2 class="current-combo-attempt">
        {{ currentComboAttempt.join("") }}
      </h2>
    </div>
    <ng-template #fillerDiv>
      <div class="filler-div"></div>
    </ng-template>
    <section class="symbols-container">
      <div (click)="addSymbolToCombo(1)" class="dot-symbol">Symbol 1</div>
      <div (click)="addSymbolToCombo(2)" class="dot-symbol">Symbol 2</div>
      <div (click)="addSymbolToCombo(3)" class="dot-symbol">Symbol 3</div>
      <div (click)="addSymbolToCombo(4)" class="dot-symbol">Symbol 4</div>
      <div (click)="addSymbolToCombo(5)" class="dot-symbol">Symbol 5</div>
      <div (click)="addSymbolToCombo(6)" class="dot-symbol">Symbol 6</div>
      <div (click)="addSymbolToCombo(7)" class="dot-symbol">Symbol 7</div>
      <div (click)="addSymbolToCombo(8)" class="dot-symbol">Symbol 8</div>
      <div (click)="addSymbolToCombo(9)" class="dot-symbol">Symbol 9</div>
      <div (click)="addSymbolToCombo(0)" class="dot-symbol" id="zero-button">Symbol 0</div>
    </section>
    <button (click)="submitCombo()">Submit</button>
  </section>

  <section *ngIf="!isKeypadLocked" class="decoder-container">
    I should only show if code is correct!
    Here are all the symbols decoded!
  </section>
</div>
